.formulario {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-image: url(/assets/login.jpg); */
}

.input {
  padding: 5px;
  background: #fff;
  /* box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8); */
  border-radius: 8px;
  border: none;
  margin: 5px;
}

.boton {
  background: #06bdf5;
  border: 0;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 7px;
}
.register {
  background-color: rgb(240, 222, 58);
  border: 0;
  padding: 10px;
  color: rgb(42, 15, 15);
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12x;
}
