.formulario {
    background-image: url( https://pixabay.com/es/photos/smiley-emoticon-enojar-enfadado-2979107/);
    width: min(60rem, 100%);
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.input{
    padding: 5px;
    background: #fff;
    /* box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8); */
    border-radius: 8px;
    border: none;
    margin: 5px;

}

.boton{
    background: #06c9f5;
    border: 0;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 7px;
}