/* .HeroEmotionsItem-container{
    font-family: lato,sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: #1C3643;
    height: 220px;
   
    margin-bottom: 2rem; */
/* background-image:url(../../assets/1emotions.png); */
/* } */

/* .button-theme{
        background-color: #1C3643;
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    } */
